<apex:component controller="FooterController" >
    
    <script type="text/javascript">
        
        $( document ).ready(function() {
            
           var strPage = '{!$CurrentPage.Name}';
           Visualforce.remoting.Manager.invokeAction(
               
                '{!$RemoteAction.FooterController.currentPageName}',
                strPage, 
                function(result, event){
                    
                    if(result != null){
                        
                        var footerText = $(".copyright").text() + result;
                        $(".copyright").text(footerText);
                    }
                }, 
                {escape: true}
            );
        });
        
    </script>
    <div class="footer-container">
        
        <div class="container">

        <div class="row">
               <div class="col-sm-3">
                <div class="logo">
                    <a href="#">
                        <apex:image value="{!$Resource.Boston_Scientific_Logo}" />
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <p class="footerTxt">{!$Label.Boston_AuthHome_InTouch_Body}</p>
            </div>
            <div class="col-sm-3">
                <div class="nav-social">
                      <ul>
                          <apex:outputPanel rendered="{!!ISBLANK(objHeaderFooterConfig.Social_Icon_Option1_Value__c)}">
                            <li><a href="{!objHeaderFooterConfig.Social_Icon_Option1_Value__c}" target="_blank" alt="{!objHeaderFooterConfig.Social_Icon_Option1_Label__c}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          </apex:outputPanel>
                          <apex:outputPanel rendered="{!!ISBLANK(objHeaderFooterConfig.Social_Icon_Option2_Value__c)}">
                            <li><a href="{!objHeaderFooterConfig.Social_Icon_Option2_Value__c}" target="_blank"><i class="fa fa-facebook" aria-hidden="true" alt="{!objHeaderFooterConfig.Social_Icon_Option2_Label__c}"></i></a></li>
                          </apex:outputPanel>
                          <apex:outputPanel rendered="{!!ISBLANK(objHeaderFooterConfig.Social_Icon_Option3_Value__c)}">
                              <li><a href="{!objHeaderFooterConfig.Social_Icon_Option3_Value__c}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true" alt="{!objHeaderFooterConfig.Social_Icon_Option3_Label__c}"></i></a></li>
                          </apex:outputPanel>
                          <apex:outputPanel rendered="{!!ISBLANK(objHeaderFooterConfig.Social_Icon_Option4_Value__c)}">
                              <li><a href="{!objHeaderFooterConfig.Social_Icon_Option4_Value__c}" target="_blank"><i class="fa fa-rss" aria-hidden="true" alt="{!objHeaderFooterConfig.Social_Icon_Option4_Label__c}"></i></a></li>
                          </apex:outputPanel>
                      </ul>
                 </div>
            </div>
        </div>
    </div><!-- End Container -->

    <div class="grey-background">
        <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                      <div class="nav-footer">
                          <ul>
                              <li><apex:outputLink value="{!$Page.Locations}">{!$Label.Boston_Locations}</apex:outputLink></li>
                              <li><apex:outputLink value="{!$Page.TermsofUse}">{!$Label.Boston_Terms_of_Use}</apex:outputLink></li>
                              <li><apex:outputLink value="{!$Page.Copyright}">{!$Label.Boston_Copyright}</apex:outputLink></li>                              
                              <li><a href="http://privacy.truste.com/privacy-seal/Boston-Scientific-Corporation/validation?rid=fca11bf9-2733-4ced-9b1a-1de85f7cd98e" target="_blank"> <apex:image value="{!footerImageUrl}" styleClass="trustImg"/></a></li>
                          </ul>
                          <p class="copyright">{!$Label.Boston_Footer_PrivacyPolicy}<br/>
                          {!$Label.Boston_Footer_Copyright} </p>
                      </div>
                </div>
                </div>
        </div>
    </div>

</div>

</apex:component>