<apex:page StandardController="Opportunity" extensions="AddOpportunityToFavInlineController" id="pg" showHeader="false" sidebar="false" >
    <style>
       .favorite { color: green; font-weight: bold; font-size:Small; }
       .notfavorite { color: grey; font-weight: bold; font-size:Small; margin-left:4%;}
    </style>
   
                <apex:form id="frm">
                     
                    <apex:pagemessages />
                   <!-- <div Style="{!If(showAddButton,'margin-top:0.8%','')}"> -->
                    <div>
                     <apex:image id="fav" value="/img/icon/heart16.png" width="20" height="20" style="margin-left:1%;margin-right:1%;" rendered="{!NOT(showAddButton)}"/>
                  
                     <apex:outputLabel value="{!messageText}" styleClass="{!if(showAddButton,'notfavorite','favorite')}"></apex:outputLabel> 
                     
                    </div>
                </apex:form>
</apex:page>