<apex:page standardController="Order" extensions="ANZImplantFormExtensionPdf" applyBodyTag="false" applyHtmlTag="false" docType="html-5.0" showHeader="false" sidebar="false" id="ImplantForm" renderAs="pdf"> <!-- renderAs="pdf" -->

    <!-- <apex:includeScript value="{!URLFOR($Resource.LoanerKit_Bootstrap, '/js/jquery-2.2.2.min.js')}"/> -->
     
         <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"/>
  <!--     <apex:includeScript value="{!URLFOR($Resource.LoanerKit_Bootstrap, '/js/bootstrap.min.js')}"/> -->
    <head>
    
 <style type="text/css" media="print">
            @page {
                padding-top: 30px;
                @top-center {
                    content: element(header);
                }
                @bottom-left {
                    content: element(footer);
                }
            }
            div.header {
                padding: 30px;
                background-color: white;
                position: running(header);
            }
            div.footer {
                display: block;
                padding: 5px;
                position: running(footer);
            }
            .pagenumber:before {
                content: counter(page);
            }
            .pagecount:before {
                content: counter(pages);
            }
        </style>

        </head>
        
         <div align="right" class="header"> 
 <apex:image url="{!$Resource.ANZ_PDF_Header}"  height="76"/>

    </div>
   <Center>
    <apex:outputPanel id="panelSF" />
    <apex:actionStatus id="statSF" onstop="" />
    <!--<nav class="navbar navbar-inverse"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h2> Implant Form</h2>
                <hr/>
                <b>Customer Service</b>
                <br/>
                Toll Free Ph: 1.800.676.133
                <br/>
                Toll Free Fax: 1.800.836.666
                <br/>
                Email: <a href="#">customerserviceanz@bsci.com</a>
            </div>
        </div>
    </div>
    <!--</nav>-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" >
                <apex:form id="ordFrm" >

                    <!--Requester Information Header-->                    
                    <div class="row">
                 <div class="col-xs-12 bg-primary text-center bsc-form-header"> 
                        
                    <h4 style="margin: 30px 0 25px;color: #fff;background-color: #337ab7;margin-top: 20px;margin-bottom: 25px;font-size: 18px;">Requester Information</h4>
                           
                        </div>    <!--   -->
                        
                    </div>
                      
                    <!--Requester Information Section-->
                    <div class="row form-group">
                        <div class="col-sm-6 col-xs-12 text-bold text-input-alignment">
                         <b>   Boston Scientific Representative </b>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <apex:outputText value="{!implantFormDisplay.CreatedBy.Name}"   styleClass="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6 col-xs-12 text-bold text-input-alignment">
                           <b>  Division </b>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <apex:outputText value="{!implantFormDisplay.Shared_Division__c}"   styleClass="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6 col-xs-12 text-bold text-input-alignment">
                           <b>  Case Notes  </b>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <apex:inputField value="{!implantFormDisplay.ANZ_Case_Notes__c}"   styleClass="form-control"/>

                        </div>
                        
                         <!--<apex:column headerValue=" Case Notes1">
            <apex:outputText value="{!implantForm.ANZ_Case_Notes__c}" />
            </apex:column>
                  <apex:inputField value="{!implantForm.ANZ_Case_Notes__c}"   styleClass="form-control"/> -->
                    </div>
                    <apex:outputpanel rendered="{!implantFormDisplay.Shared_Division__c='NM'}">
                    
                    <apex:outputText value="{!implantFormDisplay.ANZ_Related_Opportunity__r.name}"   styleClass="form-control"/>
             
                    </apex:outputpanel>
                   
                    
                    <!--Hospital Header-->
                    <div class="row">
                        <div class="col-xs-12 bg-primary text-center bsc-form-header">
                            <h4 style="margin: 30px 0 25px;color: #fff;background-color: #337ab7;margin-top: 20px;margin-bottom: 25px;font-size: 18px;">Hospital Information</h4>
                        </div>
                    </div>

                    <!--Hospital Section-->
                    <apex:outputPanel id="hospitalFrm">
                    
                    <apex:pageBlock >
                        <apex:pageblocktable style="width: 11em;word-wrap: break-word;" value="{!implantFormDisplay}" var="item" border="1">
                        <apex:column value="{!item.AccountId}"/>
                        <apex:column value="{!item.ANZ_Implant_Date__c}"/>
                        <apex:column value="{!item.PoNumber}"/>
                        <apex:column value="{!item.ANZ_Implant_Funding__c}"/>
                        <apex:column value="{!item.ANZ_Insurance_Provider__c}"/>
                        <apex:column value="{!item.ANZ_Implanting_Physician__c}"/>                            
                        <apex:column value="{!item.ANZ_Referring_Physician__c}"/>
                        <apex:column value="{!item.ANZ_Follow_up_Physician__c}"/>                   
                        
                        </apex:pageblocktable>
                    </apex:pageBlock>
                 
                    </apex:outputPanel>
                    
                    <!--Patient Header-->
                    <div class="row">
                        <div class="col-xs-12 bg-primary text-center bsc-form-header">
                            <h4 style="margin: 30px 0 25px;color: #fff;background-color: #337ab7;margin-top: 20px;margin-bottom: 25px;font-size: 18px;">Patient Information</h4>
                        </div>
                    </div>

                    <!--Patient Section-->
                  
                    <apex:outputPanel id="patientFrm">
                    
                      <apex:pageBlock >
                        <!--
                        <apex:pageblocktable style="  max-width: 700px;"  columnsWidth="100%" columns="12"  value="{!implantFormDisplay}" var="item" border="1"  >
                       
                        <apex:column width="10%" value="{!item.ANZ_Patient_Title__c}"/>
                    
                    
                   <apex:column styleClass="firstName"  width="10%" value="{!item.ANZ_Patient_First_Name__c}"/> 

                        
                        <apex:column width="10%" value="{!item.ANZ_Patient_Last_Name__c}"/>
                        <apex:column width="10%" value="{!item.ANZ_Gender__c}"/>
                        <apex:column width="10%" value="{!item.ANZ_DOB__c}"/>
                        <apex:column width="10%" value="{!item.ShippingStreet}"/>
                        <apex:column width="10%" value="{!item.ShippingCity}"/>
                        <apex:column width="10%" value="{!item.ShippingState}"/>-->
                       <!-- <apex:column value="{!item.ShippingPostalCode}"/> 
                        <apex:column value="{!item.ShippingCountry}"/> -->
                      <!--  <apex:column width="10%" value="{!item.ANZ_Email_Address__c}"/>
                        <apex:column width="10%" value="{!item.Hospital_Patient_ID__c}"/>
                            
                       
                        </apex:pageblocktable>

-->

                             <br/>
                            
                                <table border="1">
<apex:repeat value="{!implantFormDisplay}" var="item">

    <tr>
    <td><b>Patient Title</b></td>
    <td>   <apex:outputText value="{!item.ANZ_Patient_Title__c}"   styleClass="form-control"/> </td>
    </tr>

    <tr>
    <td><b>Patient First Name</b></td>
    <td> <apex:outputText value="{!item.ANZ_Patient_First_Name__c}"   styleClass="form-control"/> </td>
    </tr>

    <tr>
    <td><b>Patient Last Name</b></td>
    <td> <apex:outputText value="{!item.ANZ_Patient_Last_Name__c}"   styleClass="form-control"/> </td>
    </tr>
    <tr>
    <td><b>Gender</b></td>
    <td> <apex:outputText value="{!item.ANZ_Gender__c}"   styleClass="form-control"/> </td>
    </tr>

    <tr>
    <td><b>DOB</b></td>
    <td> 
    
    
    <apex:outputText value="{0, date, MMMM d','  yyyy}">
    <apex:param value="{!item.ANZ_DOB__c}" />
</apex:outputText>
    </td>
    </tr>
    <tr>
    <td><b>Shipping Street</b></td>
    <td>

    <apex:outputText value="{!item.ShippingStreet}"   styleClass="form-control"/> </td>
    </tr>

    <tr>
    <td><b>Shipping City</b></td>
    <td> <apex:outputText value="{!item.ShippingCity}"   styleClass="form-control"/>  </td>
    </tr>
    <tr>
    <td><b>Shipping State/Provinc</b></td>
    <td> <apex:outputText value="{!item.ShippingState}"   styleClass="form-control"/> </td>
    </tr>

    <tr>
    <td><b>Email Address</b></td>
    <td> <apex:outputText value="{!item.ANZ_Email_Address__c}"   styleClass="form-control"/> </td>
    </tr>
    <tr>
    <td><b>Hospital Patient ID</b></td>
    <td> <apex:outputText value="{!item.Hospital_Patient_ID__c}"   styleClass="form-control"/> </td>
    </tr>
    </apex:repeat>   
    </table>

             </apex:pageBlock>
                    
                    
                    
                      
                    </apex:outputPanel>       
                <br/> <br/> <br/><br/><br/><br/><br/><br/>
                    <!--Your Cart Section-->
                    <div class="row">
                        <div class="col-xs-12 bg-primary text-center bsc-form-header">
                            <h4 style="margin: 30px 0 25px;color: #fff;background-color: #337ab7;margin-top: 20px;margin-bottom: 25px;font-size: 18px;">Products Used</h4>
                        </div>
                    </div>
                    <apex:outputPanel id="shopping_cart">
                        <div class="row">
                            <div class="col-xs-12">               
                               
                                                      
                                <table border="1">                   
                                <tr>
                                    <th class="bordered">Product Name</th>
                                    <th class="bordered">Model Number</th>
                                    <th class="bordered">Serial Number</th>
                                    <th class="bordered">Batch Number</th>                                    
                                    <th class="bordered">Billing and Inventory</th>                                
                                    <th class="bordered">
                                       <apex:outputpanel rendered="{!implantFormDisplay.Shared_Division__c='NM'}">
                                            Temporary Consignment Item?                                       
                                       </apex:outputpanel>
                                    </th>
                                
                                </tr>              
                                <apex:repeat value="{!orderItemDisplay}" var="item">
                                
                                <tr>
                                
                                <td><apex:outputField value="{!item.PricebookEntry.name }"/>
                                </td> 
                                <td><apex:outputField value="{!item.Model_Number__c}"/>
                                </td>
                                <td><apex:outputField value="{!item.Serial_Number__c}"/>
                                </td>
                                <td><apex:outputField value="{!item.ANZ_Batch_Number__c}"/>
                                </td>
                                <td><apex:outputField value="{!item.ANZ_Billing_and_Inventory__c}"/>
                                </td>
                                
                                <td>
                                 <apex:outputpanel rendered="{!implantFormDisplay.Shared_Division__c='NM'}">
                                
                                <!--             <apex:outputText value="{!item.ANZ_Temporary_Consignment_Item__c}"   styleClass="form-control"/>       -->             
                                              <apex:outputField value="{!item.ANZ_Temporary_Consignment_Item__c}"/>
                                          </apex:outputpanel>     
                                
                                </td>
                                
                                </tr>
                                </apex:repeat>
                                
                                </table> 
                                
                            </div>
                        </div>


                    </apex:outputPanel>
  
 
                    <br/>
                    <!--
                    <div class="row">
                        <div class="col-xs-12">
                        <b> Paid for with Technology Credits? </b>&nbsp;
                         <apex:outputText value="{!implantFormDisplay.ANZ_Paid_by_Using_Technology_Credits__c}"   styleClass="form-control"/>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                      <b>  Special Pricing? </b> &nbsp;
                        <apex:outputText value="{!implantFormDisplay.ANZ_Special_Pricing__c}"   styleClass="form-control"/>

                        </div>
                    </div>
                    <div class="row form-group">
                           
                            <div class="col-sm-6 col-xs-12">
                                      <b>  SDF Number for Pricing Approval</b> &nbsp;
            <apex:outputText value="{!implantFormDisplay.ANZ_SDF_Number_for_Pricing_Approval__c}"   styleClass="form-control"/>
                          
                            </div>
                        </div>
               -->
                  
                </apex:form>
            </div>
        </div>
    </div>
       </Center>
</apex:page>