<apex:page standardController="Order" showHeader="false" standardstylesheets="false" contentType="application/vnd.ms-excel#implantformexport.htmimplant" language="en-US">

    <apex:pageBlock title="Order" >
    
    <!--      <apex:pageBlockTable value="{!Order}" var="ord" border="1">
            <apex:column value="{!ord.OrderNumber}"/>
            <apex:column value="{!ord.ANZ_Patient_Title__c}"/> 
            <apex:column value="{!ord.ANZ_Patient_First_Name__c}"/>
            <apex:column value="{!ord.ANZ_Patient_Last_Name__c}"/>
            <apex:column value="{!ord.Accountid}"/> 
            <apex:column value="{!ord.ANZ_Case_Notes__c}"/> 
            <apex:column value="{!ord.ANZ_DOB__c}"/> 
            <apex:column value="{!ord.ANZ_Email_Address__c}"/> 
            <apex:column value="{!ord.ANZ_Follow_up_Physician__c}"/> 
            <apex:column value="{!ord.ANZ_Gender__c}"/> 
            <apex:column value="{!ord.ANZ_Implant_Date__c}"/> 
            <apex:column value="{!ord.ANZ_Implant_Funding__c}"/> 
            <apex:column value="{!ord.ANZ_Implanting_Physician__c}"/> 
            <apex:column value="{!ord.ANZ_Insurance_Provider__c}"/> 

            <apex:column headerValue="Paid by Using Technology Credits?">
            <apex:outputText value="{!IF((ord.ANZ_Paid_by_Using_Technology_Credits__c==true),True,False)}" />
            </apex:column>

            <apex:column value="{!ord.ANZ_Referring_Physician__c}"/> 
            <apex:column value="{!ord.ANZ_Related_Opportunity__c}"/> 
            <apex:column value="{!ord.ANZ_Related_Patient__c}"/> 
            <apex:column value="{!ord.ANZ_SDF_Number_for_Pricing_Approval__c}"/> 
           
            <apex:column headerValue="Special Pricing?">
            <apex:outputText value="{!IF((ord.ANZ_Special_Pricing__c==true),True,False)}" />
            </apex:column>
            
            <apex:column value="{!ord.Hospital_Patient_ID__c}"/> 
            <apex:column value="{!ord.Patient_Full_Name__c}"/> 
      ///  <apex:column value="{!ord.ShippingAddress}"/> ShippingCity 
            <apex:column value="{!ord.ShippingCity}"/>
            <apex:column value="{!ord.ShippingPostalCode}"/>
            <apex:column value="{!ord.ShippingStreet}"/>
            <apex:column value="{!ord.ShippingState}"/>
            <apex:column value="{!ord.ShippingCountry}"/>
            <apex:column value="{!ord.Opportunity_Stage__c}"/> 
            <apex:column value="{!ord.Opportunity_Record_Type__c}"/> 
            <apex:column value="{!ord.Status}"/> 
            <apex:column value="{!ord.owner.name}"/> 
            <apex:column value="{!ord.RecordType.developername}"/> 
            <apex:column value="{!ord.OrderNumber}"/> 
            <apex:column value="{!ord.CreatedBy.name}"/> 
            <apex:column value="{!ord.EffectiveDate}"/> 
            <apex:column value="{!ord.Telephone__c}"/>             
            <apex:column value="{!ord.Shared_Division__c}"/> 
        </apex:pageBlockTable>   -->
        <br/>
        <table  border="1">
<!--        <tr><td>Order Number</td></tr> -->
        <apex:repeat value="{!Order}" var="ord1">
                <tr>
                <td><b>Order Number</b></td>
                <td> 
                <apex:outputText >{!ord1.OrderNumber}</apex:outputText>
                </td>
                </tr>
                 <tr>
                 <td><b>Patient Title</b></td>
                <td>
                <apex:outputText >{!ord1.ANZ_Patient_Title__c}</apex:outputText>
                </td>
                
                </tr>
                
<tr><td><b>Patient First Name</b></td><td>  <apex:outputText >{!ord1.ANZ_Patient_First_Name__c}</apex:outputText>    </td></tr>
<tr><td><b>Patient Last Name  </b></td><td>  <apex:outputText >{!ord1.ANZ_Patient_Last_Name__c}</apex:outputText>    </td></tr>
<tr><td><b>Account Name </b></td><td>  <apex:outputText >{!ord1.Account.Name}</apex:outputText>    </td></tr>
<tr><td><b>Case Notes</b></td><td>  <apex:outputText >{!ord1.ANZ_Case_Notes__c}</apex:outputText>    </td></tr>
<tr><td><b>DOB</b></td><td>  
                    
                    <apex:outputText value="{0, date, MMMM d','  yyyy}">
                        <apex:param value="{!ord1.ANZ_DOB__c}" />
                    </apex:outputText>
  </td></tr>
<tr><td><b>Email Address</b></td><td>  <apex:outputText >{!ord1.ANZ_Email_Address__c}</apex:outputText>    </td></tr>
<tr><td><b>Follow-up Physician</b></td><td>  <apex:outputText >{!ord1.ANZ_Follow_up_Physician__r.Name}</apex:outputText>    </td></tr>
<tr><td><b>Gender</b></td><td>  <apex:outputText >{!ord1.ANZ_Gender__c}</apex:outputText>    </td></tr>
<tr><td><b>Implant Date</b></td><td>   
        <apex:outputText value="{0, date, MMMM d','  yyyy}">
            <apex:param value="{!ord1.ANZ_Implant_Date__c}" />
        </apex:outputText>
         </td></tr>
<tr><td><b>Implant Funding</b></td><td>  <apex:outputText >{!ord1.ANZ_Implant_Funding__c}</apex:outputText>    </td></tr>
<tr><td><b>Implanting Physician</b></td><td>  <apex:outputText >{!ord1.ANZ_Implanting_Physician__r.Name}</apex:outputText>    </td></tr>
<tr><td><b>Insurance Provider</b></td><td>  <apex:outputText >{!ord1.ANZ_Insurance_Provider__r.Name}</apex:outputText>    </td></tr>
<tr><td><b>Paid by Using Technology Credits?</b></td>
          <td>   <apex:outputText value="{!IF((ord1.ANZ_Paid_by_Using_Technology_Credits__c==true),True,False)}" />  </td></tr>
<tr><td><b>Referring Physician</b></td><td>  <apex:outputText >{!ord1.ANZ_Referring_Physician__r.Name}</apex:outputText>    </td></tr>
<tr><td><b>Related Opportunity</b></td><td>  <apex:outputText >{!ord1.ANZ_Related_Opportunity__r.Name}</apex:outputText>    </td></tr>
<tr><td><b>Related Patient</b></td><td>  <apex:outputText >{!ord1.ANZ_Related_Patient__c}</apex:outputText>    </td></tr>
<tr><td><b>SDF Number for Pricing Approval</b></td>
        <td>  <apex:outputText >{!ord1.ANZ_SDF_Number_for_Pricing_Approval__c}</apex:outputText>    </td></tr>
<tr><td><b>Special Pricing?</b></td><td> <apex:outputText value="{!IF((ord1.ANZ_Special_Pricing__c==true),True,False)}" />  </td></tr>
<tr><td><b>Hospital Patient ID</b></td><td>  <apex:outputText >{!ord1.Hospital_Patient_ID__c}</apex:outputText>    </td></tr>
<tr><td><b>Patient Full Name</b></td><td>  <apex:outputText >{!ord1.Patient_Full_Name__c}</apex:outputText>    </td></tr>
<tr><td><b>Shipping City</b></td><td>  <apex:outputText >{!ord1.ShippingCity}</apex:outputText>    </td></tr>
<tr><td><b>Shipping Zip/Postal Code</b></td><td>  <apex:outputText >{!ord1.ShippingPostalCode}</apex:outputText>    </td></tr>
<tr><td><b>Shipping Street</b></td><td>  <apex:outputText >{!ord1.ShippingStreet}</apex:outputText>    </td></tr>
<tr><td><b>Shipping State/Province</b></td><td>  <apex:outputText >{!ord1.ShippingState}</apex:outputText>    </td></tr>
<tr><td><b>Shipping Country</b></td><td>  <apex:outputText >{!ord1.ShippingCountry}</apex:outputText>    </td></tr>
<tr><td><b>Opportunity Stage</b></td><td>  <apex:outputText >{!ord1.Opportunity_Stage__c}</apex:outputText>    </td></tr>
<tr><td><b>Opportunity Record Type</b></td><td>  <apex:outputText >{!ord1.Opportunity_Record_Type__c}</apex:outputText>    </td></tr>
<tr><td><b>Status</b></td><td>  <apex:outputText >{!ord1.Status}</apex:outputText>    </td></tr>
<tr><td><b>Name</b></td><td>  <apex:outputText >{!ord1.owner.name}</apex:outputText>    </td></tr>
<tr><td><b>Record Type Name</b></td><td>  <apex:outputText >{!ord1.RecordType.developername}</apex:outputText>    </td></tr>
<tr><td><b>Name</b></td><td>  <apex:outputText >{!ord1.CreatedBy.name}</apex:outputText>    </td></tr>
<tr><td><b>Order Start Date</b></td><td> 
     <apex:outputText value="{0, date, MMMM d','  yyyy}">
            <apex:param value="{!ord1.EffectiveDate}" />
        </apex:outputText>
  </td></tr>
<tr><td><b>Telephone</b></td><td>  <apex:outputText >{!ord1.Telephone__c}</apex:outputText>    </td></tr>
<tr><td><b>Division</b></td><td>  <apex:outputText >{!ord1.Shared_Division__c}</apex:outputText>    </td></tr>
        </apex:repeat>
        </table>
            </apex:pageBlock>
    <br/>    <br/>
    
        <apex:pageBlock title="Order Products" >
     <!-- <apex:pageBlockTable value="{!Order.orderItems}" var="oi" border="1">
            <apex:column value="{!oi.PricebookEntry.name}"/>              
            <apex:column value="{!oi.Quantity}"/>   
            <apex:column value="{!oi.Model_Number__c}"/>   
            <apex:column value="{!oi.Serial_Number__c}"/>   
            <apex:column value="{!oi.Notes__c}"/>   
            <apex:column value="{!oi.ANZ_Billing_and_Inventory__c}"/>   
            
            <apex:column headerValue="Device Implanted/Used Successfully?">
            <apex:outputText value="{!IF((oi.ANZ_Device_Implanted_Used_Successfully__c==true),True,False)}" />
            </apex:column>
            <apex:column value="{!oi.ANZ_Implant_Type__c}"/> 
            <apex:column value="{!oi.ANZ_Lead_Type__c}"/> 
            <apex:column value="{!oi.ANZ_Manufacturer__c}"/>                
            <apex:column headerValue="Temporary Consignment Item?">
            <apex:outputText value="{!IF((oi.ANZ_Temporary_Consignment_Item__c==true),True,False)}" />
            </apex:column>
            
            <apex:column value="{!oi.Quantity}"/> 
         
        </apex:pageBlockTable>  
        
        -->
         <br/>
        <table  border="1">
<!--        <tr><td>Order Number</td></tr> -->
        <apex:repeat value="{!Order.orderItems}" var="oi"> 
                <tr>
                <td  style="color:Blue"><b>Product Name</b></td>                    
                       <td>
                        <apex:outputText >{!oi.PricebookEntry.name}</apex:outputText> 
                        </td>                        
                </tr>
                
                 <tr>
                <td><b>Quantity</b></td>
                    
                 <td>
                <apex:outputText >{!oi.Quantity}</apex:outputText> 
                </td>
                </tr>
                
                 <tr>
                <td><b>Model Number</b></td>                    
                 <td>
                <apex:outputText >{!oi.Model_Number__c}</apex:outputText> 
                </td>
                </tr>
                
                 <tr>
                <td><b>Serial Number</b></td>                   
                 <td>
                <apex:outputText >{!oi.Serial_Number__c}</apex:outputText> 
                </td>       
                 </tr>
                 
                 <tr>
                <td><b>Notes</b></td>                   
                 <td>
                <apex:outputText >{!oi.Notes__c}</apex:outputText> 
                </td>
                </tr>
                
                 <tr>
                <td><b>Billing and Inventory</b></td>                   
                 <td>
                <apex:outputText >{!oi.ANZ_Billing_and_Inventory__c}</apex:outputText> 
                </td>
                </tr>
                
                 <tr>
                <td><b>Device Implanted/Used Successfully?</b></td>                 
                 <td>
                <apex:outputText value="{!IF((oi.ANZ_Device_Implanted_Used_Successfully__c==true),True,False)}" />
                </td>
                </tr>
                
                
                 <tr>
                <td><b>Implant Type</b></td>                    
                 <td>
                <apex:outputText >{!oi.ANZ_Implant_Type__c}</apex:outputText> 
                </td>
                </tr>
                
                 <tr>
                <td><b>Lead Type</b></td>                   
                 <td>
                <apex:outputText >{!oi.ANZ_Lead_Type__c}</apex:outputText> 
                </td>
                </tr>
                
                 <tr>
                <td><b>Manufacturer</b></td>                    
                 <td>
                <apex:outputText >{!oi.ANZ_Manufacturer__c}</apex:outputText> 
                </td>
                </tr>
                
                 <tr>
                <td><b>Temporary Consignment Item?</b></td>                 
                 <td>
                <apex:outputText value="{!IF((oi.ANZ_Temporary_Consignment_Item__c==true),True,False)}" />
                </td>
                    </tr>
                  <tr>
                <td><b>Batch Number</b></td>                 
                 <td>
                <apex:outputText >{!oi.ANZ_Batch_Number__c}</apex:outputText> 
                </td>
                
                </tr>
                
                
                 </apex:repeat>
        </table>
    </apex:pageBlock>
</apex:page>