<apex:page controller="NMD_BsciSynergyRedirectExtension" showHeader="false">
	<apex:stylesheet value="{!URLFOR($Resource.SF1_Bootstrap_Theme, 'css/bootstrap.css')}"/>
	<apex:outputPanel rendered="{!ISBLANK(redirectUrl)}">
		<div class="alert alert-danger">
			<strong>An error occurred while loading the external URL. Please contact your Salesforce Administrator.</strong>
		</div>
	</apex:outputPanel>
	<apex:outputPanel rendered="{!NOT(ISBLANK(redirectUrl))}">
		<div class="alert alert-info">
			Click here to be redirected to the external app:<br/>
			<strong><a href="{!redirectUrl}">{!redirectUrl}</a></strong>
		</div>
	</apex:outputPanel>
</apex:page>