<!--
 * Name : ETM_Oppty_Territory_Update_Web
 * Author : Accenture - Mayuri
 * Description : This VF is used to update territory field on Opportunity in SF1 and Web Both- developed during Q2 stabalization period 
 * Date : 10MAY2016
-->

<apex:page standardController="Opportunity" extensions="UpdateTerritoryOpptyController_Web" docType="html-5.0" showHeader="false" sidebar="false" standardStylesheets="false"> 
<style>
    .mypage {
    font-family: "ProximaNovaSoft-Regular", Calibri; 
    font-size: 110%;
    padding-top: 12px;
    width: 100%;
    }
    .mypage input[type=text] {
    width: 70%;
    height: 35px;
    -webkit-appearance: none;
    padding: 0 8px;
    margin: 4px 0;
    line-height: 21px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    }
    .mypage button  {
    -webkit-appearance: button;
    border-radius: 3px;
    display: block;
    padding: 12px;
    margin: 4px 0;
    width: 10%;
    background: #eee;
    border: solid 1px #ccc;
    }
    
    .ct{
    text-align:left;
    }
    #aherf {
    width: 20px;
    background-image: url('/img/func_icons/util/lookup20.gif');
    height: 20px;
    border: none !important;
    //background: none !important;
    background-repeat: no-repeat !important;
    }
    .dataTable table{
    width: 100%;
    font-family: arial, sans-serif;
    border: solid 1px #E0E3E5;
    border-collapse: collapse;
    background: #FFFFFF
    }
    .dataTable  th{
    background: #999999;
    border-top: solid 1px #E0E3E5;
    border-right: solid 1px #E0E3E5;
    color: #fff;
    font-size: 0.8em;
    font-weight: normal;
    padding: 11px 2px 10px 5px;
    }
    .dataTable td {
    border-top: solid 1px #E0E3E5;
    border-right: solid 1px #E0E3E5;
    color: #797979;
    font-size: 13px;
    padding: 5px 2px 5px 5px;
    }  
    
</style>
<script type="text/javascript">
 
window.onload = function() { 
                var accId = "{!accId}";
                var opportunityId = "{!Opportunity.Id}";
                
                
                if(accId.length <=0 ){
                    alert('You must select a parent account before you update a territory on Opportunity.');
                    redirectToPage();
                }
                } 

function callJS(name, id){    
    
    reDirectToPage(id);    
    
}
function reDirectToPage(Id){
    
    var opportunityId = "{!Opportunity.Id}";
    var accId = "{!accId}";    
    var territory = Id;
    if(accId.length <=0){        
        alert('You must select a parent account before you update a territory on Opportunity.');
        redirectToPage();
    }
    else{
       callSave(territory); 
    }
    
    
}
</script>

<apex:stylesheet value="{!URLFOR($Resource.bootstrap, '/css/bootstrap.min.css')}" />
<apex:includeScript value="{!URLFOR($Resource.LoanerKit_Bootstrap, '/js/jquery-2.2.2.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.LoanerKit_Bootstrap, '/js/bootstrap.min.js')}"/>

    
        <apex:form id="mainform">  
        <div style="background-color:#797979;color:#FFFFFF"><apex:pageMessages id="excepMsg"/></div>
         <apex:actionFunction name="callSave" action="{!saveOppty}" reRender="excepMsg" immediate="true">
                 <apex:param name="terrSelected" value="" assignTo="{!terrSelected}"/>
          </apex:actionFunction> 
           <apex:actionFunction name="redirectToPage" action="{!redirectToPage}" reRender="" immediate="true">
                 
          </apex:actionFunction>                       
            <div id="opaque">
            <div id="popupcontent">
            <div class="col-lg-1">
                <label>Search</label>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-lg-2">
                <apex:inputText id="txtSearch"  StyleClass="form-control" value="{!searchString}"></apex:inputText>&nbsp;&nbsp;
                <apex:commandButton id="btnGo" value="Go" action="{!Search}" rerender="pgeBlkTable,errorMsg" styleClass="btn btn-default" ></apex:commandButton>
            </div> <br/> 
            <div class="container">
            <!-- Example row of columns -->
                <div class="row">
                    <apex:outputPanel id="pgeBlkTable" styleClass="dataTable">
                        <apex:pageBlock >            
                        <apex:pageBlockTable value="{!results}" var="a" border="1" id="searchResults" rendered="{!isShow}">
                        <div class="col-lg-4">
                        
                        <apex:column headerValue="Territory" headerClass="ct">
                        <apex:outputLink value="#" onclick="callJS('{!a.Name}', '{!a.id}')">{!a.Name}</apex:outputLink>
                        </apex:column>
                        <apex:column headerValue="Description" value="{!a.Description}" headerClass="ct"/>
                        <apex:column headerValue="Parent Territory" value="{!a.ParentTerritory2Id}" headerClass="ct"/>
                        <apex:column headerValue="Territory Type" value="{!a.Territory2TypeId}" headerClass="ct"/>   
                        
                        </div>          
                        </apex:pageBlockTable>        
                        
                        </apex:pageBlock>
                    <!-- pgeBlkTable-->
                    </apex:outputPanel>
                    <apex:outputPanel id="errorMsg" >
                        <apex:outPutText rendered="{!isError}">No results found!!</apex:outPutText>
                    <!-- errorMsg-->
                    </apex:outputPanel> 
                <!-- row -->
                </div> 
            <!-- container-->
            </div> 
            <!-- popupcontent-->
            </div> 
            </div>
        </apex:form>
</apex:page>