<apex:page standardController="Patient__c" 
    extensions="NMD_PatientSharingExtension"
    title="{!$Label.NMD_Add_Share}: {!Patient__c.Name}"
    showHeader="true" 
    sidebar="true">
    <apex:sectionHeader title="{!$Label.NMD_Add_Share}" subtitle="{!Patient__c.Name}" />
    <apex:form >
        <apex:pageMessages />
        <apex:pageBlock mode="edit">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!submit}" value="{!$Label.NMD_Submit}"/>
                <apex:commandButton action="{!cancel}" value="{!$Label.NMD_Cancel}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="{!$Label.NMD_Choose_User}" columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Patient__c.fields.User__c.Label}"/>
                    <apex:inputField value="{!Patient__c.User__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.NMD_Access_Level}"/>
                    <apex:outputText value="{!$Label.NMD_Read_Write}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>