<!--*** Page:  PhysicianTerritoryChangeUI (Controller - PhysicianTerritoryChange)
        Created By: Accenture Team
        Created Date: 8th-July-2016
        Last Modified By: API User
        Last Modify Date: 14th-July-2016
        Description: This page is used for Territory/Account/Physician changes for the Physician/Patients.
                     This Is divided in two modules: 1. Single Physician - Used to changes the territory and account of that physician and also used to change the territory and physician of patient under that physician.
                                                     2. Multi Physician - Used to change the territory and account of multiple physician at a time also included the effective date of change logic. Also used to change the physician and territory for the orphan patient(Without Physician).
***-->

<apex:page standardController="Contact" extensions="PhysicianTerritoryChange" docType="html-5.0" showHeader="false" sidebar="false" standardStylesheets="false" id="PhysicianPage">
    <apex:outputPanel id="msg">
        <div class="{!IF(isValidDate,'','alert alert-warning')}">
            <apex:pagemessages ></apex:pagemessages>
        </div>
    </apex:outputPanel>    
    
    <apex:stylesheet value="{!URLFOR($Resource.PhysicianTerritory, 'bootstrap.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.PhysicianTerritory, 'jquery-ui.css')}"/>
    
    <apex:includeScript value="{!URLFOR($Resource.PhysicianTerritory, 'jquery.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.PhysicianTerritory, 'bootstrap.min.js')}"/>
    
 <style>
    .nav li {
     margin-bottom: 0.5em;
     }
    
    #frmControl1 button, #frmControl button{
    margin : 0 0.5em;
    }

    .lookupInput a{
        display: inline-block;
    }
    
    form div {
        margin-top: 10px;
    }
    
    .halfWidth{
        width:60% !important;
    }
    
    .halfWidthForCheckbox{
        width:80% !important;
    }
    
    .control-label {
        padding-left: 0;
    }
    
    .btn-default {
        background-color: #D6D6D6;
    }
    
    .alert-danger{
        background-color : #009DDC;
        color :#000;
        font-weight : bold;
    }
    
    .lookupInput a {
        width: 18px !important;
        background-image: url('/img/func_icons/util/lookup20.gif');
        height: 20px;
        border: none !important;
        background-repeat: no-repeat !important;
    } 
    </style>
    
    <script > 


        function toggleTopage2(){
        if (document.getElementById('optionsRadios3').checked) {
            document.getElementById("page2").style.display = "Block";
            document.getElementById("page3").style.display = "none";
            document.getElementById("page5").style.display = "none";
        }
        if (document.getElementById('optionsRadios4').checked) {
            document.getElementById("page2").style.display = "none";
            document.getElementById("page3").style.display = "none";
            document.getElementById("page5").style.display = "Block";
        }
        document.getElementById("page1").style.display = "none";
    }
    
    function toggleTopageto1(){
        var r = confirm("Are you sure? You will lose any changes you have made !!");
        if (r == true) {
            refreshPage();
        } else {
            hide(); 
        }
        document.getElementById("page1").style.display = "Block";
        document.getElementById("page2").style.display = "none";
        document.getElementById("page3").style.display = "none";
        document.getElementById("page5").style.display = "none";
        document.getElementById("page6").style.display = "none";
    }
    
    function toggleTopage5to6(){
        document.getElementById("page1").style.display = "none";
        document.getElementById("page2").style.display = "none";
        document.getElementById("page3").style.display = "none";
        document.getElementById("page5").style.display = "none";
        document.getElementById("page6").style.display = "block";        
    }
    
    function toggleTopage2to3(){
        document.getElementById("page1").style.display = "none";
        document.getElementById("page2").style.display = "none";
        document.getElementById("page3").style.display = "block";
        document.getElementById("page5").style.display = "none";
        document.getElementById("page6").style.display = "none";        
    }
    
    function toggleToTab(){
        if (document.getElementById('page1Click').click){
            document.getElementById("tab1").style.display = "block";
            document.getElementById("tab2").style.display = "block";
            document.getElementById("tab3").style.display = "none";
        }
    }
    
    function toggleToTab1(){
        if (document.getElementById('page12Click').click){
            document.getElementById("tab1").style.display = "block";
            document.getElementById("tab2").style.display = "block";
            document.getElementById("tab3").style.display = "block";
        }
    }
    
    function toggleToTab13(){
        if (document.getElementById('moveButto11n').click){
            document.getElementById("tab1").style.display = "block";
            document.getElementById("tab2").style.display = "block";
            document.getElementById("tab3").style.display = "block";
        }
    }
    
    function SuccessMessage(){
        var r = confirm("Process Completed Successfully !!");
        if (r == true) {
            refreshPage();
        } else {
            refreshPage(); 
        }
    }
    
    function refreshPage(){
        window.location.reload();
    }
    
    function checkAll(cb){ 
        var inputElem = document.getElementsByClassName("abc");
        for(var i=0; i<inputElem.length; i++)
        {
            for(var j=0; j<inputElem[i].getElementsByTagName("input").length; j++)
            {
                inputElem[i].getElementsByTagName("input")[j].checked = cb.checked;
            }    
        }
    } 
    
    function checkAll123(cb){
        var inputElem = document.getElementsByClassName("abc123");
        for(var i=0; i<inputElem.length; i++)
        {
            for(var j=0; j<inputElem[i].getElementsByTagName("input").length; j++)
            {
                inputElem[i].getElementsByTagName("input")[j].checked = cb.checked;
            }    
        }
    } 
    
    function checkAll123Page2(cb){
        var inputElem = document.getElementsByClassName("abc123Page2");
        for(var i=0; i<inputElem.length; i++)
        {
            for(var k=0; k<inputElem[i].getElementsByTagName("input").length; k++)
            {
                inputElem[i].getElementsByTagName("input")[k].checked = cb.checked;
            }    
        }
    }
    
    </script>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-pills col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 35px;">
            <li role="presentation" class="active col-lg-3 col-md-3 col-sm-12 col-xs-12" style="display:block;" id="tab1"><a href="#">Step 1 of 3 : Select Physician(s) &raquo;</a></li>
            <li class="active col-lg-3 col-md-3 col-sm-12 col-xs-12" role="presentation" style="display:none;" id="tab2"><a href="#">Step 2 of 3 : Update Related Records &raquo;</a></li>
            <li class="active col-lg-3 col-md-3 col-sm-12 col-xs-12" role="presentation" style="display:none;" id="tab3"><a href="#">Step 3 of 3 : Review/Finalize Changes &raquo;</a></li>
        </ul>
        <apex:actionStatus id="Wait">
            <apex:facet name="start">
                <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.25; z-index: 1000; background-color: black;">
                    &nbsp;
                </div>
                <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                    <div style="display: inline-block; padding: 2px; background-color: #fff; width: 125px;">
                        <img src="/img/loading.gif" style="float: left; margin: 8px;" />
                        <span style="display: inline-block; padding: 10px 0px;">Please Wait...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionStatus>
    </div>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <apex:form styleclass="form-inline" id="ordFrm" >
                    <!--********** 1st AND 4th Page *************----->
                    <div id="page1" style="display:block;">
                        <label class = "checkbox-inline">
                            <input type ="radio" name="optionsRadiosinline" id = "optionsRadios3" value = "option1" checked ="true"/> Physician Name - {!contact.Name}
                        </label>
                        <br/><br/>
                        <label class ="checkbox-inline">
                            <input type = "radio" name = "optionsRadiosinline" id = "optionsRadios4" value = "option2"/> Multiple Physicians
                        </label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="frmControl">
                            <button id="page1Click" type="button" class="btn btn-primary pull-right" onclick="toggleTopage2(); toggleToTab()">Next</button> 
                        </div>
                    </div>
                    <!--********** 1st AND 4th Page *************----->
                    
                    <!--********** 2nd Page *************----->
                    <div id="page2" style="display:none">
                        <apex:outputPanel id="SinglePhysicianChnages">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <label class="control-label">Physician - </label>
                                    <apex:outputField label="Physician Name" value="{!contact.Name}" id="ConId01"/>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="div1">
                                    <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="font-size:small !important">Select New Territory</label>
                                    <apex:selectList value="{!SelectedItem4}" size="1" label="Select Territory" rendered="true" onChange="setValues4(this.value)" styleClass="form-control halfWidth" >  
                                        <apex:selectOptions value="{!Territories}"/>
                                    </apex:selectList>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <span id="DummyAccount1">
                                        <apex:inputField html-placeholder="New Account (Optional)" style="width:50%" value="{!newContact.AccountId}" id="DummyAccountLookup1" styleClass="form-control"/>
                                    </span>
                                </div>
                            </div>
                        </apex:outputPanel>
                        <apex:outputPanel id="PatientWithPhysician">
                            <label class="control-label"> Patients </label>
                            <apex:outputPanel rendered="{!IF(IscheckedPatient == true, true, false)}" id="showpage2panel">
                                <div class="row" id="diffdiv">   
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group" id="childDiff">
                                            <apex:selectList value="{!ChildMoveTypes}" styleClass="col-md-9 col-sm-12 form-control halfWidth" size="1" label="Select Option" >  
                                                <apex:actionSupport event="onchange" action="{!getselectedMoveType}" status="Wait" reRender="diffTerr,moveButtonpage21,op8"/>
                                                <apex:selectOptions value="{!ChildMoveType}"/>
                                            </apex:selectList> 
                                        </div>
                                        <apex:outputPanel id="diffTerr">
                                            <apex:outputPanel rendered="{!IsSelectDiffTerrPhy}">
                                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                                    <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="font-size:small !important">Select New Territory</label>
                                                    <apex:selectList id="t1" value="{!SelectedItem6}" size="1" label="Select Territory" onChange="setValues6(this.value)" styleClass="form-control halfWidth" >  
                                                        <apex:selectOptions value="{!Territories}"/>
                                                        <apex:actionSupport event="onchange" status="Wait" reRender="countLablepage212"/>
                                                    </apex:selectList>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <span id="DummyContact1" rendered="{!IsSelectDiffTerrPhy}">
                                                        <apex:inputField html-placeholder="Select Physician" style="width:50%" value="{!newPatient1.Physician_of_Record__c}" id="DummyContactLookup1" styleClass="form-control"/>
                                                    </span>
                                                </div>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                        <!-- <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 pull-right">
                                            <apex:commandButton styleClass="btn btn-danger pull-right" status="Wait" id="moveButtonpage21" disabled="{!IF(ChildMoveTypes == null, true, false)}" action="{!getMovePatientToPage3}" value="Set For Change" reRender="PatientWithPhysician,patientTable1, countLablepage212,frmControl, moveButto11n"/>
                                        </div> -->
                                    </div>
                                </div>
                            </apex:outputPanel>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="max-height:300px; overflow:scroll; fixedHeader:true">
                                <apex:dataTable captionClass="Patients without Physicians" value="{!if(IsSelectedPatients1 == true,FinalPatientsforPage3,PatientsPage2)}" var="pt" width="100%" styleClass="table table-responsive table-bordered table table-hover" id="patientTable1">
                                    <apex:column id="pati" styleClass="abc123Page2">
                                        <apex:facet name="header"> 
                                            <apex:inputCheckbox >
                                                <apex:actionSupport status="Wait" event="onclick" action="{!getSelected12}" oncomplete="checkAll123Page2(this)" onsubmit="checkAll123Page2(this)" reRender="PatientWithPhysician,countLablepage212, moveButtonpage21, showpage2panel"/>
                                            </apex:inputCheckbox>
                                        </apex:facet>
                                        <apex:inputCheckbox value="{!pt.selected1}" id="checkedone2">
                                            <apex:actionSupport status="Wait" event="onclick" action="{!getSelected12}" reRender="PatientWithPhysician,countLablepage212, moveButtonpage21, showpage2panel"/>
                                        </apex:inputCheckbox>
                                    </apex:column>
                                    <apex:column headerValue="Patient SFID">
                                        <apex:outputLink value="/{!pt.pat.Id}" target="_blank" style="color:#6699FF;font-weight:bold" >{!pt.pat.Name}</apex:outputLink>
                                    </apex:column>
                                    <apex:column headerValue="Patient First Name" value="{!pt.pat.Patient_First_Name__c}"/>
                                    <apex:column headerValue="Patient Last Name" value="{!pt.pat.Patient_Last_Name__c}"/>
                                    <apex:column headerValue="Current Physician of Record" value="{!pt.pat.Physician_of_Record__r.Name}"/>
                                    <apex:column headerValue="Current Territory" value="{!pt.pat.Territory_ID__r.Name}"/>
                                    <apex:column headerValue="Current Account" value="{!pt.pat.Physician_of_Record__r.Account.Name}"/>
                                </apex:dataTable>    
                            </div>
                            
                        </apex:outputPanel>
                        <br/><br/>
                        <apex:outputPanel id="countLablepage212" >
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label pull-right">{!SelectedPatientCount1} Patients Selected</label> 
                            </div>
                        </apex:outputPanel>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="frmControl">
                            <button id="moveButto11n" type="button" class="btn btn-primary pull-right" onclick="toggleTopage2to3(); toggleToTab13(); setValuesLast1()">Next</button>
                            <apex:commandButton styleClass="btn btn-danger pull-right" status="Wait" id="moveButtonpage21" disabled="{!IF(ChildMoveTypes == null, true, false)}" action="{!getMovePatientToPage3}" value="Set For Change" reRender="PatientWithPhysician,patientTable1, countLablepage212,frmControl, moveButto11n"/>
                            <button id="backClick1" type="button" class="btn btn-primary pull-right" onclick="toggleTopageto1(); toggleToTab(); refreshPage()">Back</button>
                        </div>
                        
                        <apex:outputPanel id="op8" rendered="false">
                            {!ChildMoveTypes}
                        </apex:outputPanel>
                        <apex:outputPanel id="op6" rendered="false">
                            {!SelectedItem6}
                        </apex:outputPanel>
                        <apex:outputPanel id="op7" rendered="false">
                            {!SelectedItem7}
                        </apex:outputPanel>
                        <apex:outputPanel id="op4" rendered="false">
                            {!SelectedItem4}
                        </apex:outputPanel>
                        <apex:outputPanel id="opd1" rendered="false">
                            {!datename1}
                        </apex:outputPanel>
                        
                        <apex:actionFunction name="setValues6" reRender="op6" status="Wait">
                            <apex:param assignTo="{!SelectedItem6}" name="x" value="x"/>
                        </apex:actionFunction>
                        <apex:actionFunction name="setValues7" reRender="op7">
                            <apex:param assignTo="{!SelectedItem7}" name="x" value="x"/>
                        </apex:actionFunction>
                        <apex:actionFunction name="setValues8" reRender="t1" status="Wait">
                            <apex:param assignTo="{!ChildMoveTypes}" name="x" value="x"/>
                        </apex:actionFunction>                        
                        <apex:actionFunction name="setValues4" reRender="op4,SinglePhysicianChnages" status="Wait">
                            <apex:param assignTo="{!SelectedItem4}" name="x" value="x"/>
                        </apex:actionFunction>
                        <apex:actionFunction name="setValuesfordate1" reRender="opd1" status="Wait">
                            <apex:param assignTo="{!datename1}" name="x" value="x"/>
                        </apex:actionFunction>
                    </div>
                    <!--********** 2nd Page *************----->
                    
                    <!--********** 3rd Page *************----->
                    <div id="page3" Style="display:none">
                        <apex:outputPanel id="patientSinglePhy">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <label class="control-label">Physician - </label>
                                    <apex:outputField label="Physician Name" value="{!contact.Name}" id="ConId04"/>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    New Territory -<label class="control-label">{!TerritoryforPage2}</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    New Account -<label class="control-label">{!SelectedAccountName}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <label class="control-label">Patients</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow:scroll; fixedHeader:true">
                                <apex:dataTable captionClass="Patients" value="{!displayList2}" var="pt1" width="100%" styleClass="table table-responsive table-bordered" id="patientTable123">
                                    <apex:column headerValue="Patient SFID">
                                        <apex:outputLink value="/{!pt1.pat.Id}" target="_blank" style="color:#6699FF;font-weight:bold" >{!pt1.pat.Name}</apex:outputLink>
                                    </apex:column>
                                    <apex:column headerValue="Patient First Name" value="{!pt1.pat.Patient_First_Name__c}"/>
                                    <apex:column headerValue="Patient Last Name" value="{!pt1.pat.Patient_Last_Name__c}"/>
                                    <apex:column headerValue="Current Physician of Record" value="{!pt1.pat.Physician_of_Record__r.Name}"/>
                                    <apex:column headerValue="Current Territory" value="{!pt1.pat.Territory_ID__r.Name}"/>
                                    <apex:column headerValue="Current Account" value="{!pt1.pat.Physician_of_Record__r.Account.Name}"/>
                                    <apex:column headerValue="New Physician Name" value="{!pt1.seConName1}"/>
                                    <apex:column headerValue="New Territory Name" value="{!pt1.name1}"/>
                                    <!-- <apex:column headerValue="New Account Name" value="{!pt1.seAccountName1}"/> -->
                                    <apex:column headerValue="Selected move Type" value="{!pt1.moveoption}"/>
                                </apex:dataTable>
                            </div>
                        </apex:outputPanel>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="frmControl">
                            <apex:commandButton styleClass="btn btn-primary pull-right" id="moveButto11n" action="{!Pagepdate3}" oncomplete="SuccessMessage()" status="Wait" value="Finish"/> 
                            <button id="backClick" type="button" class="btn btn-primary pull-right" onclick="toggleTopageto1(); toggleToTab(); refreshPage()">Back</button>
                        </div>
                        <apex:actionFunction name="setValuesLast1" reRender="patientSinglePhy">
                        </apex:actionFunction>
                    </div>
                    <!--********** 3rd Page *************----->
                    
                    <!--********** 5th Page *************----->
                    <div id="page5" Style="display:none">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                            <label class="control-label">Physicians</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label style="font-size:small !important">Select Current Territory</label>&nbsp;&nbsp;
                            <!--Select Filter Territory&nbsp;&nbsp; -->
                            <apex:selectList id="sl12" value="{!SelectedItemfilter}" disabled="{!IF(SelectedItemfilter != null, true, false)}" size="1" label="Select Territory" rendered="true" onChange="setValuesforfilter(this.value)" styleClass="form-control halfWidth">  
                                <apex:selectOptions value="{!Territories}"/>
                            </apex:selectList>&nbsp;
                            <!-- <apex:commandButton styleClass="btn btn-primary" disabled="{!IF(isClicked, false, true)}" id="goButton" action="{!filterContact}" value="Go" status="Wait" reRender="physTable,MultiplePhysicianChecked"/> -->
                        </div>
                        
                        <apex:outputPanel id="MultiplePhysicianChecked">
                            <apex:outputPanel rendered="{!If(IscheckedPhysician == true, true, false)}" id="ShowPanel">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="showDiv">
                                    <div id="collapse1" class="row panel-collapse collapse in">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="font-size:small !important">Select New Territory</label>
                                            <apex:selectList id="sl1" value="{!SelectedItem}"  size="1" label="Select Territory" rendered="true" onChange="setValues(this.value)" styleClass="form-control halfWidthForCheckbox">  
                                                <apex:selectOptions value="{!Territories}"/>
                                            </apex:selectList>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <span id="DummyAccount">
                                                <apex:inputField html-placeholder="New Account (Optional)" style="width:70%" value="{!newContact.AccountId}" id="DummyAccountLookup" styleClass="form-control"/>
                                            </span>
                                        </div>
                                        <apex:outputPanel id="afsds">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <!-- Effective Date&nbsp;&nbsp; -->
                                                <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="font-size:small !important">Effective Date</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input id="effectDate" class="span2 form-control" type="date" value="{!datename}" style="line-height:17px !important" onChange="setValuesfordate(this.value)"/> 
                                            </div>
                                        </apex:outputPanel>
                                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                            <apex:commandButton disabled="{!IF(isValidDate,false,true)}" styleClass="btn btn-danger pull-right" id="moveButton" action="{!getmovedCOntact}" value="Set For Change" status="Wait" reRender="physTable, countLable,MultiplePhysicianChecked"/>
                                        </div>
                                    </div>
                                </div>
                            </apex:outputPanel>
                            <div id="divphys" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="max-height:300px; overflow:scroll; fixedHeader:true">
                                <apex:dataTable captionClass="Physicians" value="{!if(IsSelectedPhysicians == true,FinalContacts,Contacts)}" var="p" width="100%" styleClass="table table-responsive table-bordered table table-hover" id="physTable">
                                    <apex:column id="phy" styleClass="abc" >
                                        <apex:facet name="header"> 
                                            <apex:inputCheckbox >
                                                <apex:actionSupport status="Wait" event="onclick" action="{!getSelected}" oncomplete="checkAll(this)" onsubmit="checkAll(this)" reRender="MultiplePhysicianChecked,countLable,showDiv,moveButton,ShowPanel,afsds"/>
                                            </apex:inputCheckbox>
                                        </apex:facet>
                                        <apex:inputCheckbox value="{!p.selected}" id="checkedone">
                                            <apex:actionSupport status="Wait" event="onclick" action="{!getSelected}" reRender="MultiplePhysicianChecked,countLable,showDiv,moveButton,ShowPanel,afsds"/>
                                        </apex:inputCheckbox>
                                    </apex:column>
                                    <apex:column headerValue="Physician Name">
                                        <apex:outputLink value="/{!p.con.Id}" target="_blank" style="color:#6699FF;font-weight:bold" >{!p.con.Name}</apex:outputLink>
                                    </apex:column>
                                    <apex:column headerValue="Physician SAP ID" value="{!p.con.SAP_ID__c}"/>
                                    <apex:column headerValue="Account Name" value="{!p.con.Account.Name}"/>
                                    <apex:column headerValue="Current Territory" value="{!p.con.Territory_ID__r.Name}"/>
                                </apex:dataTable>
                            </div>
                        </apex:outputPanel>
                        
                        <apex:outputPanel id="countLable" >
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label pull-right">{!SelectedPhysicianCount} Physicians Selected</label> 
                            </div>
                        </apex:outputPanel>
                        <br/><br/>
                        <apex:outputPanel id="PatientWithoutPhysician">
                            <label class="control-label">Patients without Physicians</label>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <apex:outputPanel rendered="{!If(IscheckedPatient == true, true, false)}">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="font-size:small !important">Select New Territory</label>
                                        <apex:selectList value="{!SelectedItem2}"   size="1" label="Select Territory" rendered="true" onChange="setValues2(this.value)" styleClass="form-control" >  
                                            <apex:selectOptions value="{!Territories}"/>
                                        </apex:selectList>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <span id="DummyContact">
                                            <apex:inputField html-placeholder="Change Physician of Record" style="width:50%" value="{!newPatient.Physician_of_Record__c}" id="DummyContactLookup" styleClass="form-control"/>
                                        </span>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                        <apex:commandButton styleClass="btn btn-danger pull-right" status="Wait" id="moveButton1" action="{!getmovedPatients}" value="Set For Change" reRender="patientTable, countLable1,countLable12, PatientWithoutPhysician"/>
                                    </div>
                                </apex:outputPanel>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="max-height:300px; overflow:scroll; fixedHeader:true">
                                <apex:dataTable captionClass="Patients without Physicians" value="{!if(IsSelectedPatients == true,FinalPatients,Patients)}" var="pt" width="100%" styleClass="table table-responsive table-bordered table table-hover" id="patientTable">
                                    <apex:column id="pati" styleClass="abc123">
                                        <apex:facet name="header"> 
                                            <apex:inputCheckbox >
                                                <apex:actionSupport status="Wait" event="onclick" action="{!getSelected1}" oncomplete="checkAll123(this)" onsubmit="checkAll123(this)" reRender="countLable12, moveButton,PatientWithoutPhysician"/>
                                            </apex:inputCheckbox>
                                        </apex:facet>
                                        <apex:inputCheckbox value="{!pt.selected1}" id="checkedone1">
                                            <apex:actionSupport status="Wait" event="onclick" action="{!getSelected1}" reRender="countLable12, moveButton,PatientWithoutPhysician"/>
                                        </apex:inputCheckbox>
                                    </apex:column>
                                    <apex:column headerValue="Patient SFID">
                                        <apex:outputLink value="/{!pt.pat.Id}" target="_blank" style="color:#6699FF;font-weight:bold" >{!pt.pat.Name}</apex:outputLink>
                                    </apex:column>
                                    <apex:column headerValue="Patient First Name" value="{!pt.pat.Patient_First_Name__c}"/>
                                    <apex:column headerValue="Patient Last Name" value="{!pt.pat.Patient_Last_Name__c}"/>
                                    <apex:column headerValue="Current Physician of Record" value="{!pt.pat.Physician_of_Record__r.Name}"/>
                                    <apex:column headerValue="Current Territory" value="{!pt.pat.Territory_ID__r.Name}"/>
                                    <apex:column headerValue="Current Account" value="{!pt.pat.Physician_of_Record__r.Account.Name}"/>
                                </apex:dataTable>
                            </div>
                        </apex:outputPanel>
                        <apex:outputPanel id="countLable12" >
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label pull-right">{!SelectedPatientCount} Patients Selected</label> 
                            </div>
                        </apex:outputPanel>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="frmControl1">
                            <button id="page12Click" type="button" class="btn btn-primary pull-right" onclick="toggleTopage5to6(); toggleToTab1(); setValuesLast()">Review Changes</button>
                            <button id="backClick" type="button" class="btn btn-primary pull-right" onclick="toggleTopageto1(); toggleToTab(); refreshPage()">Back</button>
                        </div>
                        
                        <apex:outputPanel id="op" rendered="false">
                            {!SelectedItem}
                        </apex:outputPanel>
                        <apex:outputPanel id="op2" rendered="false">
                            {!SelectedItem2}
                        </apex:outputPanel>
                        <apex:outputPanel id="opd" rendered="false">
                            {!datename}
                        </apex:outputPanel>
                        <apex:outputPanel id="opf" rendered="false">
                            {!SelectedItemfilter}
                        </apex:outputPanel>
                        
                        <apex:actionFunction name="setValues" reRender="op" status="Wait">
                            <apex:param assignTo="{!SelectedItem}" name="x" value="x"/>
                        </apex:actionFunction>
                        <apex:actionFunction name="setValues2" reRender="op2" status="Wait">
                            <apex:param assignTo="{!SelectedItem2}" name="x" value="x"/>
                        </apex:actionFunction>
                        <apex:actionFunction name="setValuesfordate" reRender="opd,msg,moveButton" status="Wait" action="{!validateEffectiveDate}">
                            <apex:param assignTo="{!datename}" name="x" value="x"/>
                        </apex:actionFunction>
                        <apex:actionFunction name="setValuesforfilter" reRender="sl12,opf,physTable,MultiplePhysicianChecked,PatientWithoutPhysician,patientTable" status="Wait" action="{!filterContact}">
                            <apex:param assignTo="{!SelectedItemfilter}" name="x" value="x"/>
                        </apex:actionFunction>
                    </div>
                    <!--********** 5th Page *************----->
                    
                    <!--********** 6th Page *************----->
                    <div id="page6" Style="display:none">
                        <apex:outputPanel id="MultiplePhysicianChecked1">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                    <label class="col-lg-1 col-md-1 col-sm-12 col-xs-12 control-label">Physicians</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 4-sm-12 col-xs-12" style="max-height:300px; overflow:scroll; fixedHeader:true">
                                <apex:dataTable captionClass="Physicians" value="{!displayList}" var="p1" width="100%" styleClass="table table-responsive table-bordered table table-hover" id="physTable1" rendered="{!IsSelectedPhysicians}">
                                    <apex:column headerValue="Physician Name">
                                        <apex:outputLink value="/{!p1.con.Id}" target="_blank" style="color:#6699FF;font-weight:bold" >{!p1.con.Name}</apex:outputLink>
                                    </apex:column>
                                    <apex:column headerValue="Physician SAP ID" value="{!p1.con.SAP_ID__c}"/>
                                    <apex:column headerValue="Current Territory" value="{!p1.con.Territory_ID__r.Name}"/>
                                    <apex:column headerValue="Current Account" value="{!p1.con.Account.Name}"/>
                                    <apex:column headerValue="New Territory" value="{!p1.name}"/>
                                    <apex:column headerValue="New Account" value="{!p1.seAccountName}"/> 
                                    <apex:column headerValue="Effective Date Of Change" value="{!p1.Edoc}"/>
                                </apex:dataTable>
                            </div>
                        </apex:outputPanel>
                        <br/><br/>
                        <apex:outputPanel id="PatientWithoutPhysician1">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <label class="control-label">Patients without Physicians</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="max-height:300px; overflow:scroll; fixedHeader:true">
                                <apex:dataTable captionClass="Patients without Physicians" value="{!displayList1}" var="pt" width="100%" styleClass="table table-responsive table-bordered table table-hover" id="patientTable3" rendered="{!IsSelectedPatients}">
                                    <apex:column headerValue="Patient SFID">
                                        <apex:outputLink value="/{!pt.pat.Id}" target="_blank" style="color:#6699FF;font-weight:bold" >{!pt.pat.Name}</apex:outputLink>
                                    </apex:column>
                                    <apex:column headerValue="Patient First Name" value="{!pt.pat.Patient_First_Name__c}"/>
                                    <apex:column headerValue="Patient Last Name" value="{!pt.pat.Patient_Last_Name__c}"/>
                                    <apex:column headerValue="Current Physician of Record" value="{!pt.pat.Physician_of_Record__r.Name}"/>
                                    <apex:column headerValue="Current Territory" value="{!pt.pat.Territory_ID__r.Name}"/>
                                    <!-- <apex:column headerValue="Existing Account Name" value="{!pt.pat.Physician_of_Record__r.Account.Name}"/> -->
                                    <apex:column headerValue="New Physician of Record" value="{!pt.seConName1}"/>
                                    <apex:column headerValue="New Territory" value="{!pt.name1}"/>
                                </apex:dataTable>
                            </div>
                        </apex:outputPanel>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="frmControl">
                            <apex:commandButton styleClass="btn btn-primary pull-right"  action="{!Pageupdate6Physician}" oncomplete="SuccessMessage()" value="Finish" status="Wait"/>
                            <button id="backClick" type="button" class="btn btn-primary pull-right" onclick="toggleTopageto1(); toggleToTab(); refreshPage()">Back</button>
                        </div>
                        <apex:actionFunction name="setValuesLast" reRender="MultiplePhysicianChecked1,PatientWithoutPhysician1">
                        </apex:actionFunction>
                    </div>
                    <!--********** 6th Page *************----->
                </apex:form>
            </div>
        </div>
    </div>    
</apex:page>