<!--                                                                                                              
	SubmitProspectAccount.page
	
	@author Salesforce services
	@date	2015-02-03
	@desc 	Presents a list to select from Contacts attached to the
			account via the AccContactRelationship__c junction object
-->
<apex:page standardController="Account" 
	extensions="NMD_SubmitProspectAccountExtension" 
	showHeader="{!NOT(isSalesforce1)}" 
	sidebar="true">
	<apex:form id="block">
		<apex:sectionHeader title="{!$Label.NMD_Submit_to_Quincy}" 
			subtitle="{!Account.Name}" 
			rendered="{!NOT(isSalesforce1)}"/>
		<apex:pageMessages />
		<apex:pageBlock mode="edit">
			<apex:pageBlockButtons location="top">
				<apex:commandButton action="{!submit}" 
					value="{!$Label.NMD_Submit}" 
					rendered="{!NOT(isSubmitted)}" 
					rerender="block"/>
				<apex:commandButton action="{!cancel}" 
					value="{!IF(isSubmitted,$Label.NMD_Go_Back,$Label.NMD_Cancel)}" 
					rendered="{!OR(isSubmitted,NOT(isSalesforce1))}"/>
			</apex:pageBlockButtons>
			<!-- <c:NMD_QuincyChildSelector childs="{!children}" 
				title="{!$Label.NMD_Select+' '+$ObjectType.Contact.LabelPlural}"
				nameField="{!$ObjectType.Contact.fields.LastName}"
				nameLabel="{!$ObjectType.Contact.fields.Name.Label}"/> -->
		</apex:pageBlock>
	</apex:form>
</apex:page>