<!--                                                                                                              
    SubmitPhysicianContact.page
    
    @author Salesforce services
    @date   2015-02-03
    @desc   Presents a list to select from Accounts attached to the
            Contact via the AccContactRelationship__c junction object
-->
<apex:page standardController="Contact" 
    extensions="NMD_SubmitPhysicianContactExtension" 
    showHeader="{!NOT(isSalesforce1)}">
    <apex:form id="block">
        <apex:outputPanel rendered="false">
            <apex:inputHidden value="{!Contact.AccountId}"/>
            <apex:inputHidden value="{!Contact.MailingStreet}"/>
            <apex:inputHidden value="{!Contact.MailingCity}"/>
            <apex:inputHidden value="{!Contact.MailingState}"/>
            <apex:inputHidden value="{!Contact.MailingPostalCode}"/>
            <apex:inputHidden value="{!Contact.MailingCountry}"/>
            <apex:inputHidden value="{!Contact.Phone}"/>
            <apex:inputHidden value="{!Contact.Fax}"/>
            <apex:inputHidden value="{!Contact.Academic_Title__c}"/>
            <apex:inputHidden value="{!Contact.Specialty__c}"/>         
        </apex:outputPanel>
        <apex:sectionHeader title="{!$Label.NMD_Submit_to_Quincy}" 
            subtitle="{!Contact.Name}" 
            rendered="{!NOT(isSalesforce1)}"/>
        <apex:pageMessages />
        <apex:pageBlock mode="edit">
            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!submit}" 
                    value="{!$Label.NMD_Submit}" 
                    rendered="{!NOT(isSubmitted)}" 
                    rerender="block"/>
                <apex:commandButton action="{!cancel}" 
                    value="{!IF(isSubmitted,$Label.NMD_Go_Back,$Label.NMD_Cancel)}" 
                    rendered="{!OR(isSubmitted,NOT(isSalesforce1))}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>